// ---------------------------------------------- //
// .-ibg{
// 	position: relative;
// }
// .-ibg img {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// 	content: "";
// }
// ---------------------------------------------- //
body {
	&._lock {
		overflow: hidden;
	}
}
.header {
	// z-index: 40;
	&__container {
	}

	&__body {
		min-height: 70px;
		padding: 0 10px;
		display: flex;
		align-items: center;
		// margin: 40px 0px 0px 0px;

		// justify-content: center;
	}
	&__menu-icon {
		flex: 2 1 auto;

		z-index: 5;
		position: relative;
		// overflow: hidden;

		cursor: pointer;

		width: 30px;
		height: 16px;

		& span {
			top: 50%;
			transform: scale(1) translateY(-50%);
			// transition: scale() 0.5s linear;
		}

		& span,
		&::after,
		&::before {
			display: block;
			position: absolute;
			transition: all 0.3s linear;
			width: 100%;
			height: 2px;
			left: 0;
			right: 0;
			background-color: #333;
		}
		&::after,
		&::before {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		display: none;
		@media (max-width: 376px) {
			display: block;
		}
		&._active {
			& span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0, -50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0, 50%);
			}
		}
	}

	&__logo {
		display: inline-block;
		position: relative;
		z-index: 10;
		@media (max-width: 376px) {
			// max-width: 170px;
		}
	}
	&__logo img {
		max-width: 100%;
		padding: 5px;
	}

	&__menu {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		transition: all 0.3s;
		@media (max-width: 376px) {
			order: -1;
		}
	}

	&__buttons {
		display: flex;
		justify-content: end;
		align-items: center;
		flex: 0 1 auto;
	}
}

.menu {
	&__body {
		@media (max-width: 376px) {
			position: fixed;
			top: 70px;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(-100%);
			transition: all 0.3s linear;

			background-color: rgb(98, 235, 95);
			// &::before {
			// 	top: 0;
			// 	left: 0;
			// 	position: fixed;
			// 	content: "";
			// 	width: 100%;
			// 	background: rgb(255, 255, 255);
			// }
			&._active {
				transform: translateX(0%);
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 376px) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
	}
	&__item:not(:last-child) {
		margin-right: 40px;
		@media (max-width: 376px) {
			margin-right: 0px;
		}
	}

	&__link {
		padding: 7px;
		font-size: 14px;
		padding-right: 20px;
		line-height: 1.2;
		letter-spacing: 1px;
		display: flex;
		position: relative;
		transform: scale(1);

		text-transform: uppercase;
		transition: color 0.3s linear, transform 0.2s linear;
	}

	&__link::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 5%;
		background-color: transparent;
		top: 100%;
		left: 0;
		transition: background-color 0.3s linear;
	}

	&__link:hover::after {
		background-color: green;
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}

	&__link:hover {
		color: green;
		transform: scale(1.5);
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}
	&__link:hover .menu__link-icon {
		border-top: 7px solid green;
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}

	&__link-icon {
		display: block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #333;
		transition: border-top 0.3s linear;

		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate(-100%, -50%);
	}
}

.header__buttons .button:first-child {
	margin-right: 20px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	transform: scale(1);
	transition: transform 0.3s linear;

	color: #fff;
	background-color: #4cb649;

	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;

	border: solid 1px #4cb649;
	border-radius: 100px;
	&__link {
		display: inline-block;
		padding: 10.5px 20px;
		flex: 1 1 auto;

		white-space: nowrap;
		@media (max-width: 376px) {
			padding: 10.5px 12px;
		}
	}
}
.button:hover {
	transform: scale(1.2);
	@media (max-width: 376px) {
		transform: scale(1);
	}
}
.button-white {
	color: #4cb649;
	background-color: #fff;
}

.hider {
	@media (max-width: 376px) {
		display: none;
	}
}

// --------------------------------------------------------------------- //

.news {
	&__container {
		max-width: 1230px;
		// min-width: 405px;
		@media (max-width: 376px) {
			max-width: 375px;
		}
	}

	&__body {
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		// @media (max-width: 376px)
	}

	&__img {
		flex: 0 1 50%;
		@media (max-width: 376px) {
			// flex-basis: 100%;
		}
		// & img {
		// 	@media (max-width: 376px) {
		// 		max-width: 335px;
		// 	}
		// }
	}

	&__content {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 0px 200px 40px 60px;

		@media (max-width: 376px) {
			padding: 40px 35px 30px 13px;
			flex-basis: fill;
		}
	}
}
.content {
	&__text {
		font-size: 24px;
		line-height: 34px;

		justify-self: start;
		margin: 0px 0px 15px 0px;
	}

	&__description {
		display: flex;
		line-height: 22px;

		margin-bottom: 13px;
	}

	&__author {
		padding-right: 8px;
	}

	&__date {
		opacity: 0.5;
	}

	&__tags {
		color: #4cb649;
		text-transform: uppercase;
		letter-spacing: 1.5;

		margin-bottom: 11px;
	}

	&__comments {
		display: flex;
		align-items: center;
	}

	&__comments-icon {
	}

	&__comments-quantity {
		margin-left: 15px;
	}
}
