$bgc: #ffffff;
$tc: ##22252e;
$cwidht: 1600px;
$cwidhtmin: 800px;

body {
	font-family: Roboto;
	font-size: 12px;
	color: $tc;
	background-color: $bgc;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	width: $cwidht;
	margin: 0 auto;
	max-width: 100%;
}
[class*="__mincontainer"] {
	width: $cwidht;
	margin: 0 auto;
	max-width: 100%;
}

.main {
	flex: 1 1 auto;
}

// ---------------------------------------------- //
// .-ibg{
// 	position: relative;
// }
// .-ibg img {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// 	content: "";
// }
// ---------------------------------------------- //
