// ---------------------------------------------- //
// .-ibg{
// 	position: relative;
// }
// .-ibg img {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// 	content: "";
// }
// ---------------------------------------------- //
body {
	& ._lock {
		overflow: hidden;
	}
}
.header {
	// z-index: 40;
	&__container {
	}

	&__body {
		min-height: 70px;
		padding: 0 10px;
		display: flex;
		align-items: center;
		// margin: 40px 0px 0px 0px;

		// justify-content: center;
	}
	&__menu-icon {
		flex: 1 1 auto;

		z-index: 5;
		position: relative;
		// overflow: hidden;

		cursor: pointer;

		width: 30px;
		height: 16px;

		& span {
			top: 50%;
			transform: scale(1) translateY(-50%);
			// transition: scale() 0.5s linear;
		}

		& span,
		&::after,
		&::before {
			display: block;
			position: absolute;
			transition: all 0.3s linear;
			width: 100%;
			height: 2px;
			left: 0;
			right: 0;
			background-color: #333;
		}
		&::after,
		&::before {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		display: none;
		@media (max-width: 376px) {
			display: block;
		}
		&._active {
			& span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0, -50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0, 50%);
			}
		}
	}

	&__logo {
		display: inline-block;
		position: relative;
		z-index: 10;
		@media (max-width: 376px) {
			// max-width: 170px;
		}
	}
	&__logo img {
		max-width: 100%;
		padding: 5px;
	}

	&__menu {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		transition: all 0.3s;
		@media (max-width: 376px) {
			order: -1;
		}
	}

	&__buttons {
		display: flex;
		justify-content: end;
		align-items: center;
		flex: 0 1 auto;
	}
}
//-------------------------------------------------------------//
.submenu {
	position: absolute;
	top: 120%;
	left: 0;
	z-index: 5;
	background: rgb(237, 7, 7);
	min-width: 320px;
	&__body {
		display: flex;
		flex-direction: column;
		margin: 30px;
	}

	&__item {
	}

	&__link {
	}
}
//-------------------------------------------------------------//

.menu {
	&__submenu {
	}
	&__body {
		@media (max-width: 376px) {
			position: fixed;
			top: 70px;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(-100%);
			transition: all 0.3s linear;

			background-color: rgb(98, 235, 95);
			// &::before {
			// 	top: 0;
			// 	left: 0;
			// 	position: fixed;
			// 	content: "";
			// 	width: 100%;
			// 	background: rgb(255, 255, 255);
			// }
			&._active {
				transform: translateX(0%);
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 376px) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
	}
	&__item:not(:last-child) {
		margin-right: 40px;
		@media (max-width: 376px) {
			margin-right: 0px;
		}
	}

	&__link {
		padding: 7px;
		font-size: 14px;
		padding-right: 20px;
		line-height: 1.2;
		letter-spacing: 1px;
		display: flex;
		position: relative;
		transform: scale(1);
		cursor: pointer;
		text-transform: uppercase;
		transition: color 0.3s linear, transform 0.2s linear;
	}

	&__link::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 5%;
		background-color: transparent;
		top: 100%;
		left: 0;
		transition: background-color 0.3s linear;
	}

	&__link:hover::after {
		background-color: green;
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}

	&__link:hover {
		color: green;
		// transform: scale(1.5);
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}
	&__link:hover .menu__link-icon {
		border-top: 7px solid green;
		@media (max-width: 376px) {
			pointer-events: none;
		}
	}

	&__link-icon {
		display: block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #333;
		transition: border-top 0.3s linear;

		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate(-100%, -50%);
	}
}

.header__buttons .button:first-child {
	margin-right: 20px;
}

.button {
	overflow: hidden;

	transition: all 0.3s linear;

	color: #fff;
	background-color: #4cb649;

	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;

	border: solid 1px #4cb649;
	border-radius: 100px;
	&__link {
		display: inline-block;
		padding: 10.5px 20px;

		white-space: nowrap;
		@media (max-width: 376px) {
			padding: 10.5px 12px;
		}
	}
}
.button:hover {
	background-color: #333;
	// color: yellow;
	@media (max-width: 376px) {
	}
}
.button-white {
	color: #4cb649;
	background-color: #fff;
	&:hover {
		color: #a7fba4;
		background-color: #333;
	}
}

.hider {
	@media (max-width: 376px) {
		display: none;
	}
}

// --------------------------------------------------------------------- //

.news {
	&__container {
		width: 100%;
		max-width: 1230px;
		padding: 0 15px;
	}
	&__body {
		border: solid 2px #c8c8c8;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__img {
		flex: 1 1 50%;
		min-width: 200px;

		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__content-body {
		flex: 1 1 50%;
		padding: 40px 60px;
		@media (max-width: 376px) {
			padding: 35px 30px 15px;
		}
	}

	&__content {
	}
}
.content {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	&__text,
	&__text2 {
		font-size: 24px;
		font-weight: 300;
		line-height: 34px;
		flex: 1 1 auto;
		margin: 0px 0px 15px 0px;
	}
	&__text2 {
		flex: 0 1 auto;
	}

	&__description {
		display: flex;
		line-height: 22px;

		margin-bottom: 13px;
	}

	&__author {
		padding-right: 8px;
	}

	&__date {
		opacity: 0.5;
	}

	&__tags {
		font-size: 12px;
		color: #4cb649;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		margin-bottom: 11px;
	}

	&__comments {
		display: flex;
		align-items: center;
		margin: 0px 0px 10px 0px;
	}

	&__comments-icon {
	}

	&__comments-quantity {
		margin-left: 15px;
		opacity: 0.5;
	}
}

// -------------------------------------- //

.main-menu {
	&__container {
		width: 100%;
		max-width: 1230px;
		padding: 0 15px;
		@media (max-width: 376px) {
			display: none;
		}
	}

	&__body {
		background-color: #f7f7f7;
		display: flex;
		min-height: 60px;
		align-items: center;
		margin: 0px 0 40px;
		border-radius: 5px;
	}
}
.menu-main {
	&__tags {
		display: flex;
		flex: 1 1 auto;
	}

	&__article {
		margin: 0px 30px;
		padding: 5px;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
		color: #4cb649;
	}

	&__link {
		text-transform: uppercase;
	}

	&__info {
		display: flex;
	}

	&__info-item {
		margin-right: 35px;
		text-transform: uppercase;
	}
}

.info-item {
	&__link {
		text-transform: uppercase;
		padding: 5px;
	}
}

// ------------------------------------------------- //

.main-info {
	&__container {
		width: 100%;
		max-width: 1230px;
	}
	&__body {
		padding: 0 15px;
		display: flex;
		@media (max-width: 376px) {
			flex-wrap: wrap;
		}
	}

	&__form {
		display: flex;
		width: 100%;
		margin: 0;
		display: none;
		@media (max-width: 376px) {
			display: flex;
		}
	}
	&__recent-posts {
		display: flex;
		flex-direction: column;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			border: solid 1px #ebeced;
			@media (max-width: 376px) {
				display: none;
			}
		}
	}

	&__blog {
		max-width: 100%;
		// flex: 0 1 35%;
		// flex-wrap: wrap;
	}
}
.recent-posts {
	&__article {
		font-weight: 300;
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 35px;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		min-height: 240px;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 40px;
			top: 100%;
			border-bottom: solid 2px #ebeced;
			@media (max-width: 376px) {
				right: 0px;
			}
		}
		@media (max-width: 376px) {
			justify-content: center;
			align-items: center;
		}
		&::last-child {
			margin-bottom: 40px;
		}
	}

	&__img {
		width: 100%;
		flex: 1 1 25%;

		& img {
			width: 100%;
		}
	}

	&__content {
		flex: 1 1 50%;
		min-width: 300px;
		padding-left: 40px;
		// padding-left: 0px;
		@media (max-width: 376px) {
			padding: 20px 0 0px;
			// padding-left: 0px;
		}
		// margin-bottom: 40px;
		// max-height: 180px;
	}

	&__button {
		align-self: center;
		margin: 0px 0px 20px 0px;
	}

	&__link {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.content {
	&__text {
	}

	&__description {
	}

	&__author {
	}

	&__date {
	}

	&__tags {
	}

	&__comments {
	}

	&__comments-icon {
	}

	&__comments-quantity {
	}
}
.blog {
	&__body {
		padding-left: 40px;
		@media (max-width: 376px) {
			padding: 0;
		}
	}

	&__form {
		display: flex;

		width: 300px;
		@media (max-width: 376px) {
			display: none;
		}
	}

	&__item {
		padding: 0px 0px 20px 0px;
		margin-bottom: 42px;
		position: relative;
		&::before {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 100%;
			content: "";
			border: solid 1px #ebeced;
		}
	}

	&__img {
		margin-bottom: 70px;
		& img {
			width: 100%;
		}
	}
}
.form {
	height: auto;
	margin: 0 auto;
	position: relative;

	margin-bottom: 40px;
	border-radius: 5px;
	border: solid 1px rgb(185, 185, 185);
	min-height: 60px;

	overflow: hidden;
	&__submit {
		width: 20%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 5px 0 0 5px;
		cursor: pointer;
		background-color: #fff;
		&::after {
			position: absolute;
			content: "";
			width: 35px;
			height: 35px;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);

			border-radius: 50%;
			background-color: #333;
		}
		&::before {
			position: absolute;
			z-index: 40;
			content: "";
			width: 25px;
			height: 25px;
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);

			border-radius: 50%;
			background-color: rgb(255, 255, 255);
		}
	}

	&__text {
		padding-left: 20%;
		width: 100%;
		// text-align: end;
		// justify-self: end;
		font-weight: 300;
		font-size: 18px;
		line-height: 28px;
	}
}
// -----------------------------FORM------------//
// form {
// }
// input {
// }
// button {
// }
// button::after {
// }
// button::before {
// }

// -----------------------------FORM------------//
.item {
	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	&__title-img {
		margin: 0px 30px 0px 10px;
	}

	&__title-text {
		font-weight: 300;
		font-size: 24px;
		line-height: 34px;
	}

	&__list {
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
		padding-left: 15px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 5px;
			height: 5px;
			content: "";
			border-radius: 50%;
			background-color: #46b843;
		}
	}
}

// ------------------------------------------- //

.main-signup {
	background-color: #3d4251;

	&__container {
		width: 1230px;
		height: 100%;
		max-width: 100%;
	}

	&__body {
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 48px;
		font-weight: 300;
		line-height: 64px;

		margin: 105px 0px 50px 0px;

		color: #ffffff;
		@media (max-width: 376px) {
			font-size: 32px;
			line-height: 44px;
			margin: 65px 0px 35px 0px;

			text-align: center;
			// max-width: 300px;
		}
	}
	&__subscription {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		width: 100%;
		// 	&:hover {
		// 		align-items: center;
		// 	}
		// }
	}
	&__ways-to-pay {
		display: flex;
		margin-bottom: 15px;
		// flex-wrap: wrap;
	}

	&__buttons {
		display: flex;
		align-items: center;
		color: #4cb649;
		margin-bottom: 50px;
		flex-wrap: wrap;
		justify-content: center;
		& button {
			background-color: inherit;
			color: inherit;
			text-transform: uppercase;
			line-height: 18px;

			&:first-child {
				margin-right: 40px;
				@media (max-width: 376px) {
					margin-right: 0px;
					margin: 0px 0px 15px 0px;
				}
			}
		}
	}
	&__button-inner {
		display: flex;
		align-items: center;
		padding: 2px;
		// min-width: 200px;
		&:hover .main-signup__button-arrow::after {
			transform: rotate(-45deg);
			left: -50%;
		}
		&:hover .main-signup__button-arrow::before {
			transform: rotate(45deg);
			left: -50%;
		}
	}

	&__button-how {
	}

	&__button-redeem {
	}
	&__button-arrow {
		position: relative;

		overflow: hidden;

		width: 15px;
		height: 10px;

		// width: 50px;
		// height: 50px;

		display: block;
		margin-left: 10px;
		content: "";
		&::before,
		&::after,
		& span {
			content: "";

			display: block;
			position: absolute;

			background-color: #4cb649;
			// border-top: solid 1px #4cb649;
			height: 1px;
			top: 50%;
			left: 0;
			right: 0;
			width: 100%;
			transform: translateY(-50%);

			transition: all 0.3s linear;
		}
		& span {
		}
		&::before {
			transform: rotate(-45deg);
			left: 50%;
		}
		&::after {
			transform: rotate(45deg);
			left: 50%;
		}
		&:hover {
			&::after {
				transform: rotate(-45deg);
				left: -50%;
			}
		}
		&:hover {
			&::before {
				transform: rotate(45deg);
				left: -50%;
			}
		}
	}
}

.subscription {
	// align-items: center;
	&__body {
		background-color: #fff;
		flex: 0 1 370px;
		border-radius: 10px;
		display: flex;

		justify-content: center;
		margin-bottom: 30px;

		// &:hover {
		// 	min-height: 390px;
		// }
	}
	&__item {
		max-width: 205px;
		margin: 60px 0px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		line-height: 18px;
		font-weight: 600;
		text-transform: uppercase;

		position: relative;

		padding-bottom: 8px;

		margin-bottom: 20px;
		&:after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 15%;
			right: 15%;
			border-bottom: solid 2px #4cb649;
		}
	}

	&__price {
		display: flex;
		align-items: baseline;

		font-size: 56px;
		font-weight: 400;

		position: relative;

		padding-bottom: 10px;
		margin-bottom: 20px;
		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			content: "";
			border-bottom: solid 1px #ebeced;
		}
	}

	&__benefit {
		text-align: center;

		line-height: 22px;
		flex: 1 0 auto;

		margin-bottom: 24px;

		& span {
			color: red;
			margin-right: 11px;
		}
	}

	&__button {
		width: 100%;
		border-radius: 900px;
		border: #46b843 1px solid;

		overflow: hidden;
	}

	&__link {
		display: block;
		line-height: 18px;

		letter-spacing: 2px;
		padding: 10.5px 20px;

		overflow: hidden;
	}
}
.price {
	&__currency {
		font-size: 24px;

		align-self: start;
	}

	&__value {
		margin: 0 8px;
		flex: 1 1 auto;
	}

	&__timeperiod {
		font-size: 24px;
		line-height: 32px;
		&::before {
			content: "/";
		}
	}
}
.ways-to-pay {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	&__title {
		color: #fff;
		margin-right: 30px;
		@media (max-width: 376px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 376px) {
			align-items: stretch;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		&:not(:last-child) {
			margin: 0 35px 0 0;
		}
		@media (max-width: 376px) {
			flex: 0 1 33.333%;
			&:not(:last-child) {
				margin: 5px 0px 5px 0;
			}
		}
	}

	&__image {
		& img {
			width: 100%;
		}
	}
}

// ------------------------------------------- //

.footer {
	&__container {
		max-width: 1230px;
		width: 100%;
	}

	&__body {
		padding: 0 15px;
	}

	&__img {
		max-width: 240px;
		margin: 75px 0px;
		@media (max-width: 376px) {
			margin: 47px 0px;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
}
.footer-content {
	&__item {
		flex: 1 1 16.666%;
		display: flex;
		flex-direction: column;
		margin: 0px 0px 40px 0px;

		@media (max-width: 376px) {
			flex: 1 1 50%;
		}
	}

	&__item-title {
		line-height: 18px;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 1.5px;

		margin: 0px 0px 18px 0px;
	}

	&__item-list {
		line-height: 22px;
		font-weight: 300;

		letter-spacing: 1px;
		text-transform: capitalize;
		color: #889099;
		// display: flex;
	}

	&__item-button {
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__item-link {
	}
	&__item-text {
		margin-bottom: 40px;
		line-height: 22px;
		color: #889099;
		font-weight: 300;
	}
	&__item-mapdata {
		font-size: 12px;
		color: #889099;
		font-weight: 300;
		line-height: 22px;
	}
}

.social {
	position: absolute;
	top: 85%;
	left: 50%;

	transform: translateY(-100%);

	@media (max-width: 376px) {
		position: relative;
		transform: translateY(0%);
		left: 0%;
	}
	& .footer-content__item-list {
		width: 100%;
		flex-wrap: wrap;
		& .footer-content__item-button {
			&:not(:last-child) {
				margin: 0px 30px 0px 0px;
				@media (max-width: 376px) {
					margin: 0px 0px 0px 0px;
					// flex: 1 1 33.333%;
				}
			}
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.learn-more {
	position: absolute;
	// top: 157px;
	top: 46%;
	left: 16.666%;
	@media (max-width: 376px) {
		position: relative;
		transform: translateY(0%);
		left: 0%;
	}
}

.about {
	flex: 1 1 50%;
	& span {
		display: block;
		margin: 10px 0;
	}
	@media (max-width: 376px) {
		flex: 1 1 100%;
	}
}

// ------------------------------------------- //
